.todo {
  min-height: inherit;
  background-color: var(--color-primary);
  border-radius: 10px 10px 25px 25px;
  height: 100%;
  font-family: var(--font-primary);
}

/* todo Title */
.todoTitle {
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  border-radius: 10px 10px 0 0;
  font-family: var(--font-secondary);
}
